@font-face {
  font-family: 'Stilu';
  font-weight: bold;
  font-style: normal;
  src: url('../assets/fonts/stilu/Stilu-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Stilu';
  font-weight: bold;
  font-style: italic;
  src: url('../assets/fonts/stilu/Stilu-BoldOblique.otf') format('opentype');
}

@font-face {
  font-family: 'Stilu';
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/stilu/Stilu-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Stilu';
  font-weight: 600;
  font-style: italic;
  src: url('../assets/fonts/stilu/Stilu-SemiBoldOblique.otf') format('opentype');
}

@font-face {
  font-family: 'Stilu';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/stilu/Stilu-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Stilu';
  font-weight: normal;
  font-style: italic;
  src: url('../assets/fonts/stilu/Stilu-Oblique.otf') format('opentype');
}

@font-face {
  font-family: 'Stilu';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/stilu/Stilu-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Stilu';
  font-weight: 300;
  font-style: italic;
  src: url('../assets/fonts/stilu/Stilu-LightOblique.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Open+Sans:300,400');
