.icon-widget-2 {
  padding: 15px 10px; }
  .icon-widget-2 i {
    vertical-align: middle;
    display: inline-flex;
    margin-left: 8px; }
  .icon-widget-2 .text {
    vertical-align: middle;
    display: inline-flex; }
