.text-widget-12 {
  height: 80px;
  padding: 0 20px; }
  .text-widget-12 .row {
    height: 40px; }
  .text-widget-12 h4 {
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 0 0; }
  .text-widget-12 h5 {
    font-size: 0.8125rem;
    margin: 0 0 4px 0; }
