.text-widget-11 {
  height: 60px;
  padding: 0 10px; }
  .text-widget-11 .row {
    height: 30px; }
  .text-widget-11 h4 {
    font-size: 1rem;
    font-weight: 400;
    margin: 2px 0 0 0; }
  .text-widget-11 h5 {
    font-size: 0.8125rem;
    margin: 0 0 2px 0; }
