.timeline-widget-2 {
  position: relative; }
  .timeline-widget-2 .timeline-left {
    text-align: left; }
    .timeline-widget-2 .timeline-left .timeline-item {
      padding-left: 20px; }
  .timeline-widget-2 .timeline-right {
    text-align: right; }
    .timeline-widget-2 .timeline-right .timeline-item {
      padding-right: 20px; }
  .timeline-widget-2 .timeline-item {
    font-size: 0.9rem;
    padding-bottom: 20px; }
    .timeline-widget-2 .timeline-item p {
      margin-bottom: 5px; }
      .timeline-widget-2 .timeline-item p:nth-child(1) {
        font-size: 0.8rem; }
  .timeline-widget-2 .timeline-light {
    position: relative; }
    .timeline-widget-2 .timeline-light:before, .timeline-widget-2 .timeline-light:after {
      content: "";
      display: table; }
    .timeline-widget-2 .timeline-light:before {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      top: 0;
      bottom: 0px;
      left: 50%;
      z-index: 1;
      background: #ffffff; }
    .timeline-widget-2 .timeline-light:after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 50%;
      margin-left: -5px;
      width: 12px;
      height: 12px;
      background-color: #ffffff;
      border-radius: 50%;
      z-index: 2; }
  .timeline-widget-2 .timeline-dark {
    position: relative; }
    .timeline-widget-2 .timeline-dark:before, .timeline-widget-2 .timeline-dark:after {
      content: "";
      display: table; }
    .timeline-widget-2 .timeline-dark:before {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      top: 0;
      bottom: 0px;
      left: 50%;
      z-index: 1;
      background: #181796; }
    .timeline-widget-2 .timeline-dark:after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 50%;
      margin-left: -5px;
      width: 12px;
      height: 12px;
      background-color: #181796;
      border-radius: 50%;
      z-index: 2; }
  .timeline-widget-2 .timeline-default {
    position: relative; }
    .timeline-widget-2 .timeline-default:before, .timeline-widget-2 .timeline-default:after {
      content: "";
      display: table; }
    .timeline-widget-2 .timeline-default:before {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      top: 0;
      bottom: 0px;
      left: 50%;
      z-index: 1;
      background: #212121; }
    .timeline-widget-2 .timeline-default:after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 50%;
      margin-left: -5px;
      width: 12px;
      height: 12px;
      background-color: #212121;
      border-radius: 50%;
      z-index: 2; }
  .timeline-widget-2 .timeline-primary {
    position: relative; }
    .timeline-widget-2 .timeline-primary:before, .timeline-widget-2 .timeline-primary:after {
      content: "";
      display: table; }
    .timeline-widget-2 .timeline-primary:before {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      top: 0;
      bottom: 0px;
      left: 50%;
      z-index: 1;
      background: #2070b7; }
    .timeline-widget-2 .timeline-primary:after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 50%;
      margin-left: -5px;
      width: 12px;
      height: 12px;
      background-color: #2070b7;
      border-radius: 50%;
      z-index: 2; }
  .timeline-widget-2 .timeline-secondary {
    position: relative; }
    .timeline-widget-2 .timeline-secondary:before, .timeline-widget-2 .timeline-secondary:after {
      content: "";
      display: table; }
    .timeline-widget-2 .timeline-secondary:before {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      top: 0;
      bottom: 0px;
      left: 50%;
      z-index: 1;
      background: #7b1fa2; }
    .timeline-widget-2 .timeline-secondary:after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 50%;
      margin-left: -5px;
      width: 12px;
      height: 12px;
      background-color: #7b1fa2;
      border-radius: 50%;
      z-index: 2; }
  .timeline-widget-2 .timeline-info {
    position: relative; }
    .timeline-widget-2 .timeline-info:before, .timeline-widget-2 .timeline-info:after {
      content: "";
      display: table; }
    .timeline-widget-2 .timeline-info:before {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      top: 0;
      bottom: 0px;
      left: 50%;
      z-index: 1;
      background: #0288d1; }
    .timeline-widget-2 .timeline-info:after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 50%;
      margin-left: -5px;
      width: 12px;
      height: 12px;
      background-color: #0288d1;
      border-radius: 50%;
      z-index: 2; }
  .timeline-widget-2 .timeline-success {
    position: relative; }
    .timeline-widget-2 .timeline-success:before, .timeline-widget-2 .timeline-success:after {
      content: "";
      display: table; }
    .timeline-widget-2 .timeline-success:before {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      top: 0;
      bottom: 0px;
      left: 50%;
      z-index: 1;
      background: #388e3c; }
    .timeline-widget-2 .timeline-success:after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 50%;
      margin-left: -5px;
      width: 12px;
      height: 12px;
      background-color: #388e3c;
      border-radius: 50%;
      z-index: 2; }
  .timeline-widget-2 .timeline-warning {
    position: relative; }
    .timeline-widget-2 .timeline-warning:before, .timeline-widget-2 .timeline-warning:after {
      content: "";
      display: table; }
    .timeline-widget-2 .timeline-warning:before {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      top: 0;
      bottom: 0px;
      left: 50%;
      z-index: 1;
      background: #ffa000; }
    .timeline-widget-2 .timeline-warning:after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 50%;
      margin-left: -5px;
      width: 12px;
      height: 12px;
      background-color: #ffa000;
      border-radius: 50%;
      z-index: 2; }
  .timeline-widget-2 .timeline-danger {
    position: relative; }
    .timeline-widget-2 .timeline-danger:before, .timeline-widget-2 .timeline-danger:after {
      content: "";
      display: table; }
    .timeline-widget-2 .timeline-danger:before {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      top: 0;
      bottom: 0px;
      left: 50%;
      z-index: 1;
      background: #d32f2f; }
    .timeline-widget-2 .timeline-danger:after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 50%;
      margin-left: -5px;
      width: 12px;
      height: 12px;
      background-color: #d32f2f;
      border-radius: 50%;
      z-index: 2; }
  .timeline-widget-2 .timeline-grey {
    position: relative; }
    .timeline-widget-2 .timeline-grey:before, .timeline-widget-2 .timeline-grey:after {
      content: "";
      display: table; }
    .timeline-widget-2 .timeline-grey:before {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      top: 0;
      bottom: 0px;
      left: 50%;
      z-index: 1;
      background: #616161; }
    .timeline-widget-2 .timeline-grey:after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 50%;
      margin-left: -5px;
      width: 12px;
      height: 12px;
      background-color: #616161;
      border-radius: 50%;
      z-index: 2; }
  .timeline-widget-2 .timeline-lightgrey {
    position: relative; }
    .timeline-widget-2 .timeline-lightgrey:before, .timeline-widget-2 .timeline-lightgrey:after {
      content: "";
      display: table; }
    .timeline-widget-2 .timeline-lightgrey:before {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      top: 0;
      bottom: 0px;
      left: 50%;
      z-index: 1;
      background: #bdbdbd; }
    .timeline-widget-2 .timeline-lightgrey:after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 50%;
      margin-left: -5px;
      width: 12px;
      height: 12px;
      background-color: #bdbdbd;
      border-radius: 50%;
      z-index: 2; }
