.activity-widget-7 .title {
  font-size: 0.8125rem;
  margin-bottom: 5px;
  font-weight: 400; }

.activity-widget-7 .subtitle {
  font-size: 0.8125rem;
  margin-bottom: 5px;
  font-weight: 500; }

.activity-widget-7 .progress {
  margin-top: 10px; }
