@import '../variables';
@import '../mixins';

.doc-page {
  &.api-section {
    margin: -30px;

    iframe {
      border: none;
    }
  }

  &.demo-section {
    min-height: 700px;
    max-width: 500px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;

    .sc-header--img {
      border-radius: 0;
      width: 80%;
      margin: 0 auto;
    }
  }

  .block {
    margin-bottom: 50px;

    .img-small {
      width: 60%;
      margin: 0 auto;
    }
  }
}
