.jumbotron.jumbotron-2 {
  padding: 20px; }
  .jumbotron.jumbotron-2 .title {
    font-size: 1.5rem;
    font-weight: normal;
    color: #181796; }
  .jumbotron.jumbotron-2 .subtitle {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #616161; }
  .jumbotron.jumbotron-2 .breadcrumb {
    justify-content: flex-end;
    padding-right: 0; }

[data-background="light"] .jumbotron.jumbotron-2 {
  background-color: #f2f2f2;
  color: #181796; }
