.sidebar-heading.sidebar-heading-1 {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 200px;
  text-align: center;
  text-transform: capitalize;
  z-index: 1; }
  [data-layout="collapsed-sidebar-1"] .sidebar-heading.sidebar-heading-1 {
    display: none; }

[data-left-sidebar="light"] .sidebar-heading {
  background-color: #f2f2f2;
  color: #181796; }

[data-left-sidebar="dark"] .sidebar-heading {
  background-color: #181796;
  color: #ffffff; }

[data-left-sidebar="primary"] .sidebar-heading {
  background-color: #2070b7;
  color: #ffffff; }

[data-left-sidebar="secondary"] .sidebar-heading {
  background-color: #7b1fa2;
  color: #ffffff; }

[data-left-sidebar="info"] .sidebar-heading {
  background-color: #44cfff;
  color: #ffffff; }

[data-left-sidebar="success"] .sidebar-heading {
  background-color: #388e3c;
  color: #ffffff; }

[data-left-sidebar="warning"] .sidebar-heading {
  background-color: #ffa000;
  color: #ffffff; }

[data-left-sidebar="danger"] .sidebar-heading {
  background-color: #d32f2f;
  color: #ffffff; }
