.widget {
  width: 100%;
  padding: 30px;
  margin-bottom: 20px; }
  .widget > .row {
    margin-bottom: 20px; }
    .widget > .row:last-child {
      margin-bottom: 0; }
  .widget .title {
    font-size: 1.125rem;
    margin-bottom: 5px;
    font-weight: normal;
    color: #2070b7; }
  .widget .description {
    margin-bottom: 15px;
    font-size: 0.875rem;
    font-weight: normal;
    color: #616161; }
  .widget.dashboard-widget .right-icons > i {
    color: #616161;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.125rem; }
  .widget.widget-rounded {
    border-radius: 12px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1); }

[data-background='light'] .widget {
  background-color: #ffffff;
  color: #181796; }

[data-background='dark'] .widget {
  background-color: #181796;
  color: #ffffff; }

[data-background='primary'] .widget {
  background-color: #2070b7;
  color: #ffffff; }
