@import '../variables';
@import '../mixins';
@import '../palettes/left-sidebar';

.left-sidebar {
  &.left-sidebar-1 {
    ul {
      margin: 0;
      padding: 0;
    }
    .section-title {
      [data-layout='default-sidebar'] & {
        display: flex;
        height: $left-sidebar-section-title-height;
        margin-left: 25px;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-weight: 500;
      }
      [data-layout='collapsed-sidebar-1'] & {
        display: none;
      }
    }
    .active-workspace-menu {
      background-color: map-get($material-design-colors, 'mid-blue');
    }
    .btn-sidebar {
      display: flex;
      height: $left-sidebar-item-height;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      position: relative;
      border: none;
      @include font-size(14px);
      font-weight: 400;
      i {
        [data-layout='default-sidebar'] & {
          width: 40px;
          margin-right: 10px;
          @include font-size(16px);
        }
        [data-layout='collapsed-sidebar-1'] & {
          width: $left-sidebar-collapsed-width;
          margin: 0;
          @include font-size(20px);
        }
      }
      .menu-icon {
        [data-layout='default-sidebar'] & {
          width: 24px;
          margin-right: 22px;
          margin-left: 13px;
          fill: white;
          // stroke: white;
        }
        &.with-stroke {
          stroke: white;
        }
        [data-layout='collapsed-sidebar-1'] & {
          width: $left-sidebar-collapsed-width;
          margin: 0;
        }
      }
      .btn-unsaved-nav {
        @include font-size(10px);
        color: white;
        border: 1px solid white;
        padding: 3px 8px;
        text-transform: none;
        margin-left: 5px;
      }
    }
    .btn-sidebar.btn-sidebar-1 {
      text-transform: none;
      [data-layout='default-sidebar'] & {
        position: relative;
        @include font-size(14px);
        &.submenu {
          padding-left: 60px;
        }
        &.submenu2 {
          padding-left: 75px;
        }
      }
      [data-layout='collapsed-sidebar-1'] & {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        height: $left-sidebar-collapsed-item-height;
        width: $left-sidebar-collapsed-width;
      }
      &.main-menu {
        .title {
          font-family: 'Roboto', sans-serif;
          text-transform: uppercase;
        }
        &.has-children {
          [data-layout='default-sidebar'] & {
            &:before {
              font-family: 'simple-line-icons';
              content: '\e606';
              position: absolute;
              top: 17px;
              right: 0px;
              font-size: 10px;
              transition: #{$default-transform};
              transform: rotate(-720deg);
            }
            &.is-open {
              &:before {
                transform: rotate(90deg);
              }
            }
          }
          [data-layout='collapsed-sidebar-1'] & {
            &:before {
              display: none;
            }
          }
        }
      }

      .title {
        overflow-x: hidden;
        text-overflow: ellipsis;
        [data-layout='collapsed-sidebar-1'] & {
          display: none;
        }
      }
      .badge {
        [data-layout='default-sidebar'] & {
          margin-right: 25px;
        }
        [data-layout='collapsed-sidebar-1'] & {
          display: none;
          &.badge-rounded {
            display: block;
            position: absolute;
            top: 5px;
            right: 5px;
          }
        }
      }
    }
    .btn-sidebar.btn-sidebar-2 {
      text-transform: capitalize;
      @include font-size(14px);
      font-weight: 400;
    }
    .deploy-component {
      padding: 15px;
      .deploy-button-container {
        position: relative;
        .btn {
          width: 100%;
          &:before {
            font-family: 'simple-line-icons';
            content: '\e606';
            position: absolute;
            align-self: center;
            right: $side-margin;
            font-size: 10px;
            transition: #{$default-transform};
            transform: rotate(-720deg);
            line-height: 30px;
          }
        }
      }
      .progress-container {
        margin-top: 20px;
        padding: 0px;
        .deploy-item {
          display: flex;
          span {
            @include font-size(10px);
          }
          .progress {
            border-radius: 9px;
            flex-grow: 1;
            margin-left: 10px;
            margin-right: 10px;
            position: relative;
            .progress-bar {
              border-radius: inherit;
            }
            span {
              width: 100%;
              height: 100%;
              position: absolute;
              text-align: center;
              color: black;
            }
          }
          .btn-cancel-deploy {
            height: 20px;
            line-height: 20px;
            width: 20px;
            background: white;
            i {
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
      }
    }

    .section {
      [data-layout='default-sidebar'] & {
        ul {
          > li {
            position: relative;
            .linkContainer {
              display: flex;
              a {
                flex-grow: 1;
              }
              .plus-icon {
                line-height: 45px;
                width: 30px;
                margin-right: 10px;
                text-align: center;
                flex-grow: 0;
                color: white;
                height: 45px;
                i {
                  line-height: inherit;
                }
              }
            }
            > ul {
              display: none;
              &.is-open {
                display: block;
              }
              > li {
                i {
                  visibility: hidden;
                  display: none;
                }
              }
            }
          }
        }
      }
      [data-layout='collapsed-sidebar-1'] & {
        ul {
          > li {
            position: relative;
            > ul {
              position: absolute;
              top: 0;
              left: 100%;
              z-index: $zindex-navbar-fixed + 3;
              width: $left-sidebar-width;
              pointer-events: none;
              opacity: 0;
              > li {
                i {
                  visibility: hidden;
                  display: none;
                }
              }
            }
            &:hover {
              > ul {
                @include box-shadow;
                pointer-events: auto;
                opacity: 1;
                width: $left-sidebar-width; //$left-sidebar-width * X for wider
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;
                > li {
                  width: $left-sidebar-width;
                  flex: 0 0 $left-sidebar-width;
                }
              }
            }
          }
        }
      }
    }
    .sidebar-footer {
      display: flex;
      padding: 0px 20px;
      background: rgba(0, 0, 0, 0.2);
      .info {
        display: flex;
        flex-direction: column;
        @include font-size(10px);
        flex-grow: 1;
        justify-content: center;
      }
      svg {
        align-self: center;
      }
    }
  }
}

@each $key, $value in $left-sidebar-palettes {
  [data-left-sidebar='#{$key}'][data-layout='default-sidebar'] {
    .left-sidebar-placeholder {
      background: map-get($value, 'background-color');
      color: map-get($value, 'color');
    }
    .left-sidebar {
      &.left-sidebar-1 {
        background: map-get($value, 'background-color');
        color: map-get($value, 'color');
        .section > ul > li:hover > .btn-default.btn-flat.btn-sidebar {
          background: map-get($value, 'background-color');
          color: map-get($value, 'color');
          @include sideline(4px, map-get($value, 'highlight-color'));
          i {
            color: map-get($value, 'highlight-color');
          }
          &:hover {
            background: map-get($value, 'background-color');
            @include sideline(4px, map-get($value, 'highlight-color'));
            i {
              // color: map-get($value, "color");
            }
          }
        }
        .section > ul > li:hover > ul {
          background: map-get($value, 'background-color');
          color: map-get($value, 'color');
        }
        .btn-default.btn-flat.btn-sidebar {
          background: map-get($value, 'background-color');
          color: map-get($value, 'color');
          transition: none;
          i {
            color: map-get($value, 'color');
          }
          &.is-open,
          &:hover,
          &:active,
          &:focus,
          /* &:visited,*/
          &.focus {
            background: map-get($value, 'background-color');
            @include sideline(4px, map-get($value, 'highlight-color'));
            i {
              color: map-get($value, 'highlight-color');
            }
          }
        }
      }
    }
  }
}

@each $key, $value in $left-sidebar-palettes {
  [data-left-sidebar='#{$key}'][data-layout='collapsed-sidebar-1'] {
    .left-sidebar-placeholder {
      background: map-get($value, 'background-color');
      color: map-get($value, 'color');
    }
    .left-sidebar {
      &.left-sidebar-1 {
        background: map-get($value, 'background-color');
        color: map-get($value, 'color');
        .section > ul > li:hover > .btn-default.btn-flat.btn-sidebar {
          background: map-get($value, 'background-color');
          color: map-get($value, 'color');
          @include sideline(4px, map-get($value, 'highlight-color'));
          &:hover {
            background: map-get($value, 'background-color');
            @include sideline(4px, map-get($value, 'highlight-color'));
          }
        }
        .section > ul > li:hover > ul {
          background: map-get($value, 'background-color');
          color: map-get($value, 'color');
        }
        .btn-default.btn-flat.btn-sidebar {
          background: map-get($value, 'background-color');
          color: map-get($value, 'color');
          transition: none;
          //&.is-open,
          &:hover,
          &:active,
          &:focus,
          /* &:visited,*/
          &.focus {
            background: map-get($value, 'background-color');
            @include sideline(4px, map-get($value, 'highlight-color'));
          }
        }
      }
    }
  }
}
