.alert p:last-child {
  margin-bottom: 0; }

.alert.alert-light {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .alert.alert-light .alert-heading {
    margin-bottom: 10px; }
  .alert.alert-light .close {
    outline: none; }
  .alert.alert-light.alert-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-light.alert-outline .close {
      color: #ffffff;
      text-shadow: none;
      opacity: 0.7; }
  .alert.alert-light.alert-bordered {
    background-color: transparent;
    border: 0;
    border-left: 5px solid #ffffff;
    color: #ffffff;
    border-radius: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-light.alert-bordered .close {
      color: #ffffff;
      text-shadow: none;
      opacity: 0.7; }

.alert.alert-dark {
  color: #fff;
  background-color: #181796;
  border-color: #181796;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .alert.alert-dark .alert-heading {
    margin-bottom: 10px; }
  .alert.alert-dark .close {
    outline: none; }
  .alert.alert-dark.alert-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #181796;
    color: #181796;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-dark.alert-outline .close {
      color: #181796;
      text-shadow: none;
      opacity: 0.7; }
  .alert.alert-dark.alert-bordered {
    background-color: transparent;
    border: 0;
    border-left: 5px solid #181796;
    color: #181796;
    border-radius: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-dark.alert-bordered .close {
      color: #181796;
      text-shadow: none;
      opacity: 0.7; }

.alert.alert-default {
  color: #fff;
  background-color: #212121;
  border-color: #212121;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .alert.alert-default .alert-heading {
    margin-bottom: 10px; }
  .alert.alert-default .close {
    outline: none; }
  .alert.alert-default.alert-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #212121;
    color: #212121;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-default.alert-outline .close {
      color: #212121;
      text-shadow: none;
      opacity: 0.7; }
  .alert.alert-default.alert-bordered {
    background-color: transparent;
    border: 0;
    border-left: 5px solid #212121;
    color: #212121;
    border-radius: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-default.alert-bordered .close {
      color: #212121;
      text-shadow: none;
      opacity: 0.7; }

.alert.alert-primary {
  color: #fff;
  background-color: #2070b7;
  border-color: #2070b7;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .alert.alert-primary .alert-heading {
    margin-bottom: 10px; }
  .alert.alert-primary .close {
    outline: none; }
  .alert.alert-primary.alert-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #2070b7;
    color: #2070b7;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-primary.alert-outline .close {
      color: #2070b7;
      text-shadow: none;
      opacity: 0.7; }
  .alert.alert-primary.alert-bordered {
    background-color: transparent;
    border: 0;
    border-left: 5px solid #2070b7;
    color: #2070b7;
    border-radius: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-primary.alert-bordered .close {
      color: #2070b7;
      text-shadow: none;
      opacity: 0.7; }

.alert.alert-secondary {
  color: #fff;
  background-color: #7b1fa2;
  border-color: #7b1fa2;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .alert.alert-secondary .alert-heading {
    margin-bottom: 10px; }
  .alert.alert-secondary .close {
    outline: none; }
  .alert.alert-secondary.alert-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #7b1fa2;
    color: #7b1fa2;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-secondary.alert-outline .close {
      color: #7b1fa2;
      text-shadow: none;
      opacity: 0.7; }
  .alert.alert-secondary.alert-bordered {
    background-color: transparent;
    border: 0;
    border-left: 5px solid #7b1fa2;
    color: #7b1fa2;
    border-radius: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-secondary.alert-bordered .close {
      color: #7b1fa2;
      text-shadow: none;
      opacity: 0.7; }

.alert.alert-info {
  color: #fff;
  background-color: #44cfff;
  border-color: #44cfff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .alert.alert-info .alert-heading {
    margin-bottom: 10px; }
  .alert.alert-info .close {
    outline: none; }
  .alert.alert-info.alert-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #44cfff;
    color: #44cfff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-info.alert-outline .close {
      color: #44cfff;
      text-shadow: none;
      opacity: 0.7; }
  .alert.alert-info.alert-bordered {
    background-color: transparent;
    border: 0;
    border-left: 5px solid #44cfff;
    color: #44cfff;
    border-radius: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-info.alert-bordered .close {
      color: #44cfff;
      text-shadow: none;
      opacity: 0.7; }

.alert.alert-success {
  color: #fff;
  background-color: #388e3c;
  border-color: #388e3c;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .alert.alert-success .alert-heading {
    margin-bottom: 10px; }
  .alert.alert-success .close {
    outline: none; }
  .alert.alert-success.alert-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #388e3c;
    color: #388e3c;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-success.alert-outline .close {
      color: #388e3c;
      text-shadow: none;
      opacity: 0.7; }
  .alert.alert-success.alert-bordered {
    background-color: transparent;
    border: 0;
    border-left: 5px solid #388e3c;
    color: #388e3c;
    border-radius: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-success.alert-bordered .close {
      color: #388e3c;
      text-shadow: none;
      opacity: 0.7; }

.alert.alert-warning {
  color: #fff;
  background-color: #ffa000;
  border-color: #ffa000;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .alert.alert-warning .alert-heading {
    margin-bottom: 10px; }
  .alert.alert-warning .close {
    outline: none; }
  .alert.alert-warning.alert-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #ffa000;
    color: #ffa000;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-warning.alert-outline .close {
      color: #ffa000;
      text-shadow: none;
      opacity: 0.7; }
  .alert.alert-warning.alert-bordered {
    background-color: transparent;
    border: 0;
    border-left: 5px solid #ffa000;
    color: #ffa000;
    border-radius: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-warning.alert-bordered .close {
      color: #ffa000;
      text-shadow: none;
      opacity: 0.7; }

.alert.alert-danger {
  color: #fff;
  background-color: #d32f2f;
  border-color: #d32f2f;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .alert.alert-danger .alert-heading {
    margin-bottom: 10px; }
  .alert.alert-danger .close {
    outline: none; }
  .alert.alert-danger.alert-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #d32f2f;
    color: #d32f2f;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-danger.alert-outline .close {
      color: #d32f2f;
      text-shadow: none;
      opacity: 0.7; }
  .alert.alert-danger.alert-bordered {
    background-color: transparent;
    border: 0;
    border-left: 5px solid #d32f2f;
    color: #d32f2f;
    border-radius: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-danger.alert-bordered .close {
      color: #d32f2f;
      text-shadow: none;
      opacity: 0.7; }

.alert.alert-grey {
  color: #fff;
  background-color: #616161;
  border-color: #616161;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .alert.alert-grey .alert-heading {
    margin-bottom: 10px; }
  .alert.alert-grey .close {
    outline: none; }
  .alert.alert-grey.alert-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #616161;
    color: #616161;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-grey.alert-outline .close {
      color: #616161;
      text-shadow: none;
      opacity: 0.7; }
  .alert.alert-grey.alert-bordered {
    background-color: transparent;
    border: 0;
    border-left: 5px solid #616161;
    color: #616161;
    border-radius: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-grey.alert-bordered .close {
      color: #616161;
      text-shadow: none;
      opacity: 0.7; }

.alert.alert-lightgrey {
  color: #fff;
  background-color: #bdbdbd;
  border-color: #bdbdbd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .alert.alert-lightgrey .alert-heading {
    margin-bottom: 10px; }
  .alert.alert-lightgrey .close {
    outline: none; }
  .alert.alert-lightgrey.alert-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #bdbdbd;
    color: #bdbdbd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-lightgrey.alert-outline .close {
      color: #bdbdbd;
      text-shadow: none;
      opacity: 0.7; }
  .alert.alert-lightgrey.alert-bordered {
    background-color: transparent;
    border: 0;
    border-left: 5px solid #bdbdbd;
    color: #bdbdbd;
    border-radius: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
    .alert.alert-lightgrey.alert-bordered .close {
      color: #bdbdbd;
      text-shadow: none;
      opacity: 0.7; }
