.sample-badges .badge {
  margin-right: 10px; }

.badge {
  border-radius: 8px;
  border: 0;
  font-size: 0.75rem;
  text-align: center;
  line-height: 0.8;
  padding: 8px 12px;
  font-weight: normal; }
  .badge.badge-sm {
    font-size: 0.625rem;
    line-height: 0.6; }
  .badge.badge-lg {
    font-size: 0.875rem;
    line-height: 1; }
  .badge.badge-rounded {
    padding: 0;
    height: 24px;
    width: 24px;
    line-height: 24px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle; }
    .badge.badge-rounded.badge-sm {
      height: 18px;
      width: 18px;
      line-height: 18px;
      border-radius: 50%; }
      .badge.badge-rounded.badge-sm.badge-outline {
        line-height: 16px; }
    .badge.badge-rounded.badge-lg {
      height: 30px;
      width: 30px;
      line-height: 30px;
      border-radius: 50%; }
      .badge.badge-rounded.badge-lg.badge-outline {
        line-height: 28px; }
  .badge.badge-light:not(.badge-outline) {
    background-color: #ffffff;
    color: #fff; }
  .badge.badge-outline.badge-light {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff; }
  .badge.badge-dark:not(.badge-outline) {
    background-color: #181796;
    color: #fff; }
  .badge.badge-outline.badge-dark {
    border: 1px solid #181796;
    background-color: transparent;
    color: #181796; }
  .badge.badge-default:not(.badge-outline) {
    background-color: #212121;
    color: #fff; }
  .badge.badge-outline.badge-default {
    border: 1px solid #212121;
    background-color: transparent;
    color: #212121; }
  .badge.badge-primary:not(.badge-outline) {
    background-color: #2070b7;
    color: #fff; }
  .badge.badge-outline.badge-primary {
    border: 1px solid #2070b7;
    background-color: transparent;
    color: #2070b7; }
  .badge.badge-secondary:not(.badge-outline) {
    background-color: #7b1fa2;
    color: #fff; }
  .badge.badge-outline.badge-secondary {
    border: 1px solid #7b1fa2;
    background-color: transparent;
    color: #7b1fa2; }
  .badge.badge-info:not(.badge-outline) {
    background-color: #44cfff;
    color: #fff; }
  .badge.badge-outline.badge-info {
    border: 1px solid #44cfff;
    background-color: transparent;
    color: #44cfff; }
  .badge.badge-success:not(.badge-outline) {
    background-color: #388e3c;
    color: #fff; }
  .badge.badge-outline.badge-success {
    border: 1px solid #388e3c;
    background-color: transparent;
    color: #388e3c; }
  .badge.badge-warning:not(.badge-outline) {
    background-color: #ffa000;
    color: #fff; }
  .badge.badge-outline.badge-warning {
    border: 1px solid #ffa000;
    background-color: transparent;
    color: #ffa000; }
  .badge.badge-danger:not(.badge-outline) {
    background-color: #d32f2f;
    color: #fff; }
  .badge.badge-outline.badge-danger {
    border: 1px solid #d32f2f;
    background-color: transparent;
    color: #d32f2f; }
  .badge.badge-grey:not(.badge-outline) {
    background-color: #616161;
    color: #fff; }
  .badge.badge-outline.badge-grey {
    border: 1px solid #616161;
    background-color: transparent;
    color: #616161; }
  .badge.badge-lightgrey:not(.badge-outline) {
    background-color: #bdbdbd;
    color: #fff; }
  .badge.badge-outline.badge-lightgrey {
    border: 1px solid #bdbdbd;
    background-color: transparent;
    color: #bdbdbd; }
